<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; {{ site.title }} 2016</span>
      </div>
      <div class="col-md-2">
        <ul class="list-inline social-buttons">
          {% for network in site.social %}
          <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-inline quicklinks">
          <li><i class="fa fa-mobile fa-lg"></i></li>
          <li>+381 63 382 937</li>
          <li>+49 7721 204 93 13</li>
          <li><a href="http://www.xn--broservice-ms-wob.de">BÜROSERVICE-MS</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
